# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Editor backup files
*~
._*.zig

# Pandoc outputs
*.html

# Zig artifacts
zig-cache/

# Build output
build/

# Debian packaging
debian/

# Distributables
dist/
